.comment__info {
  width: 100px;
  height: 25px;
  background: #8fc08f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.comment__info a {
  text-decoration: none;
}
