<form [formGroup]="form">
  <div><label>model: <input type="text" formControlName="model"></label></div>
  <div><label>year: <input type="number" formControlName="year"></label></div>
  <div><label>price: <input type="number" formControlName="price"></label></div>
  <button (click)="createCar()">{{!carForUpdate ? 'Create' : 'Update'}}</button>
</form>
<hr>
<div>
  <div *ngFor="let car of cars">
    <div>id: {{car.id}}</div>
    <div>model: {{car.model}}</div>
    <div>year: {{car.year}}</div>
    <div>price: {{car.price}}</div>
    <button (click)="deleteCar(car.id)">Delete</button>
    <button (click)="updateCar(car)">Update</button>
  </div>
</div>
