.users {
  border: 2px solid darkgreen;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
}
.user {
  width: 18%;
  box-shadow: 0 0 5px green;
  padding: 5px;
  text-align: center;
}
