.post__info {
  width: 75px;
  height: 25px;
  background: #bccebc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.post__info a {
  text-decoration: none;
}
