<form class="form" [formGroup]="form">
  <div><label>username: <input type="text" formControlName="username"></label></div>
  <div *ngIf="userNameError">{{userNameError}}</div>
  <div><label>password: <input type="text" formControlName="password"></label></div>
  <div><label>confirmPassword: <input type="text" formControlName="confirmPassword"></label></div>
  <div *ngIf="form.errors">{{form.errors['notSame']}}</div>
  <button [disabled]="form.invalid" (click)="register()">Register</button>
</form>

